.top-up-con{

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 20px;
    margin-top: 10vh;
    margin-left: 20vw;

}
.top-up-cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;

}